<h1>Wildlife Tracker</h1>

<form action='/animal_form' method='POST'>
    <label for="common_name">Common Name:</label>
    <input id="common_name" type="text" name="animal[common_name]">
    <label for="latin_name">Latin Name:</label>
    <input id="latin_name" type="text" name="animal[latin_name]">
    <label for="kingdom">Kingdom:</label>
    <input id="kingdom" type="text" name="animal[kingdom]">
    <input type="submit" value="Submit User">
</form>